<footer class="w-full bg-white text-black px-6 py-16 md:px-20">
  <div class="max-w-7xl mx-auto">
    <!-- Top -->
    <div
      class="flex flex-col gap-10 md:flex-row md:justify-between md:items-start"
    >
      <!-- Brand -->
      <div class="space-y-4 md:max-w-sm">
        <h2 class="uppercase text-lg tracking-[0.2em] font-semibold">
          ERRE Recubrimientos
        </h2>

        <div class="h-0.5 w-12 bg-secondary"></div>

        <p class="text-sm text-neutral-400 leading-relaxed">
          Soluciones profesionales en pintura y recubrimientos de alta calidad
          para proyectos residenciales, comerciales e industriales.
        </p>
      </div>
      <div class="space-y-3 text-sm text-neutral-400">
        <p
          class="hover:text-black transition-colors duration-300 cursor-pointer"
        >
          errerecubrimientos@gmail.com
        </p>
        <p
          class="hover:text-black transition-colors duration-300 cursor-pointer"
        >
          Mérida, Yucatán, México
        </p>
      </div>
    </div>

    <!-- Divider -->
    <div class="my-12 h-px bg-gray-200"></div>

    <!-- Bottom -->
    <div
      class="flex flex-col gap-4 md:flex-row md:justify-between md:items-center text-xs text-neutral-500"
    >
      <p>© 2026 ERRE Recubrimientos. Todos los derechos reservados.</p>

      <p class="tracking-wide">
        Diseño y desarrollo por <a
          href="https://portfolio-omar-solis.vercel.app/"
          target="_blank"
          rel="noopener noreferrer"
          class="underline text-black">Omar Solis</a
        >
      </p>
    </div>
  </div>
</footer>
